<article class="l-col6 realizacje__lista__post">
	<a href="{{post.link}}">
		{% include 'components/generic/image-widthheight.twig' with {img_src: post.thumbnail, width: 808, height:480} %}
	</a>
	<div class="l-row6">
		<div class="l-col5">
			<a href="{{post.link}}">
				<div class="realizacje__lista__posts__inside">
					<div>
						<p class="realizacje__lista__posts__inside__cat">{{ post.terms('category') | join(' / ') }}</p>
						<h2 class="realizacje__lista__posts__inside__title font24">{{post.title}}</h2>
					</div>
					<p class="btn">zobacz</p>

				</div>
			</a>

			<div class="realizacje__lista__posts__tags">
				<div class="singleRealizacje__tagi">
					{% for item in post.terms('tagi_realizacji') %}
						<a href="{{ site.link }}/tagi_realizacji/{{item.slug}}" class="font12 noBreak">#{{item.name}}</a>
					{% endfor %}


				</div>
			</div>
		</div>
	</div>

</article>
