<footer class="footer">
    <div class="l-container footer__up">
        <div class="l-row">
            <div class="l-col12">
                <div class="l-col12 footer__przewin">
                    <div></div>
                    <a class="font14_12" id="ToTop">Przewin do góry</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copy">
        <div class="l-container">

            <div class="l-row">
                <div class="l-col6 footer__slogan">
                    <p class="font28_24">{{ options.slogan }}</p>
                </div>
                <div class="l-col3 footer__tel">
                    <p class="font20_24">{{ options.telefon_i_mail }}</p>
                </div>
                <div class="l-col3 footer__address">
                    <p class="font20_24">{{ options.dane_adresowe }}</p>
                </div>

            </div>
        </div>

    </div>
    <div class="footer__links">
        <div class="l-container">

            <div class="l-row">
                <div class="l-col6">
                    <p class="font12">
                        {{ options.copyright }}</p>
                </div>
                <div class="l-col6">
                    {% for item in options.linki_dolne %}
                        <a class="font12" href="{{ item.link.url }}">{{ item.link.title }}</a>
                    {% endfor %}

                </div>

            </div>
        </div>
    </div>

</footer>
{# end <div id="app"> #}

{{ function('wp_footer') }}</body></html>
