<!DOCTYPE html>

<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!-->
	<html class="no-js" {{site.language_attributes}}> <!--<![endif]-->

	{# <head> #}
	{% include 'header/_head.twig' %}
	{# </head>#}

		<body class="is-loading {{ body_class }}"> <div class="pageloader is-active">
			<img src="{{Image(options.logo).src}}">
		</div>

		<header class="header is-sticky">
			<div class="l-container">

				<div class="l-row">
					<div class="header__top l-col12">


						<a class="header__logo" href="{{ site.link }}">
							<img class="header__logo__img" src="{{ Image(options.logo).src }}" alt="{{ options.logo.alt }}"/>
						</a>
						{% include 'components/navbar/desktop-navbar.twig' %}
						<div class="header__socials">
							<div class="header__socials__lang">
								{% for item in lang %}
									{% if item.active != 1 %}
										<a class="header__socials__lang__item" href="{{item.url}}">{{item.code}}
										</a>
									{% endif %}
								{% endfor %}
							</div>
							<div class="header__socials__socials">
								{% for item in options.socials %}
									<a target="_blank" href="{{item.url}}"><img src="{{Image(item.ikona).src}}"></a>
								{% endfor %}
							</div>

						</div>


						<div class="burger-menu">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>


					<div class="header__mobileArea">
						<div class="header__socials__lang">
							<a class="header__socials__lang__item" href="#">en</a>
							<a class="header__socials__lang__item" href="#">de</a>
						</div>
						{% include 'components/navbar/mobile-navbar.twig' %}
						<div class="header__socials__socials">
							{% for item in options.socials %}
								<a target="_blank" href="{{item.url}}"><img src="{{Image(item.ikona).src}}"></a>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</header>
	</body>
</html>
